<div class="app-nav" w-bind>

  <a href="/" style="float: right;">← Go back</a>
  <app-link class=(data.selected == 'app-index'? "selected" : "" ) href="/switcher">Home</app-link>
  <app-link class=(data.selected == 'app-about'? "selected" : "" ) href="/switcher/about">About</app-link>
  <app-link class=(data.selected == 'app-faq'? "selected" : "" ) href="/switcher/faq">FAQ</app-link>

  <div style="clear:both"/>
</div>