
<div class="app-section-wrapper" w-bind>

  <div class="app-section-show-more">
    <div class="app-section-show-more__indicator">
      $!{data.linkIndicator}
    </div>
    <div class="app-section-show-more__content">
      <a class="app-section-show-more__link" href="#" w-onclick="toggle">$!{data.linkTitle}</a>
    </div>

  </div>

  <div class=data.className w-body />

</div>