<div w-bind>
  <button class="app-load-css-button" type="button" w-onclick="loadBlack">Load black theme</button>
  &nbsp;
  <button class="app-load-css-button" type="button" w-onclick="loadNormal">Load normal theme</button>
</div>