<lasso-page name="switcher-faq" package-path="./browser.json"/>

<layout-use("src/pages/switcher/layouts/page/template.marko")>

<layout-put into="title">Lasso + Marko</layout-put>

<layout-put into="body">
  <app-faq />
</layout-put>

</layout-use>
