.number-spinner button {
  background-color: #b3f6fe;
  border: 2px solid white;
  outline: 0;
  height: 30px;
  vertical-align: bottom;
}

.number-spinner input {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  border: 2px solid white;
  outline: 0;
  text-align: center;
  height: 26px;
}

.number-spinner.positive input {
  background: #98ff98;
}

.number-spinner.negative input {
  background: #ff9292;
}