<div class=data.className w-bind>
  <button type="button" w-onclick="dec">&larr;</button>
  <input type="text" w-id="input" value=data.value size="6" w-onchange="change"/>
  <button type="button" w-onclick="inc">&rarr;</button>
</div>